<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Journal Entries | Daily Diary</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src="/images/logo-drk-g.svg" alt="Daily Diary logo" width="112" height="35">
        </a>
      </div>

      <div class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a href="/logout" class="button is-warning">
                <strong>Logout</strong>
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>

  <section class="section has-background-warning-light is-medium">
    <div class="container box ">
      <h2 class="title is-3 center">Welcome <%= user.userName %>!</h2>
      <h4 class="subtitle is-4 center mb-6">Add new entry</h4>

      <form action="/journal/createJournalEntry" method="POST">
        <div class="columns">
          <div class="column">
            <input class="field input" type="text" placeholder="Subject" name="journalSubject">
          </div>
          <div class="column">
            <input class="field input" type="date" placeholder="Date mm/dd/yyyy" name="journalDate">
          </div>
        </div>
        <textarea class="textarea" type="text" placeholder="Write Your Journal entry" name='journalEntry'></textarea>
        <input type="submit" value="Add Entry" class="button is-warning is-fullwidth mt-5">
      </form>
    </div>
  </section>

  <section class="section is-medium">
    <div class="container">
      <h1 class="title is-1 center">Journal Entries</h1>
      <h2 class="subtitle mb-6 center">
        <%= user.userName %> has <%= left %> Journal Entries.
      </h2>
      <% journal.forEach( el=> { %>
        <div class="card mb-6" data-id='<%=el._id%>'>
          <header class="card-header">
            <p class="card-header-title">
              <%= el.journalSubject %>
            </p>
            <time datetime="2022-1-1" class="card-header-icon has-background-light">
              <%= el.journalDate %>
            </time>
          </header>
          <div class="card-content">
            <div class="content">
              <p>
                <%= el.journalEntry %>
              </p>
            </div>
          </div>
          <footer class="card-footer" data-id='<%=el._id%>'>
            <a href="/edit/<%= el._id %>" class="edit card-footer-item button is-info  is-outlined m-4">Edit</a>
            <button class="del card-footer-item button is-danger is-outlined m-4">Delete</button>
          </footer>
        </div>
        <% }) %>
    </div>
  </section>

  <script src="js/main.js"></script>
</body>

</html>