<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
     <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
    <h1>Journal Entries</h1>
    <ul>
    <% todos.forEach( el => { %>
            <li class='todoItem' data-id='<%=el._id%>'>
                <textarea class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></textarea>
                <button class='del'> Delete </button>
            </li>
    <% }) %>    
    </ul>

    <h2><%= user.userName %> has <%= left %> Journal Entries.</h2>
    <div class="divider"></div>
    <form action="/todos/createTodo" method='POST'>
        <textarea type="text" placeholder="Write Your Journal entry" name='todoItem'></textarea>
        <br>
        <input type="submit">
    </form>
    <br>
    <a href="/logout">Logout</a>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
    <script src="js/main.js"></script>
    
</body>
</html>